
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.android-large-3-qgD {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.android-large-3-qgD .auto-group-4kyr-mpm {
  width: 100%;
  height: 47.6rem;
  position: relative;
  background: linear-gradient(315.93deg, #1e5c88 92.94%, #65f997 202.13%);
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-4kyr-mpm .rectangle-151-hyK {
  width: 36rem;
  height: 47.5rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(275.97deg, #08324f 99.49%, #82d2f5 206.06%);
}
.android-large-3-qgD .auto-group-4kyr-mpm .accelerate-your-tech-career-in-canada-xuF {
  width: 32.5rem;
  height: 23.3rem;
  position: absolute;
  left: 1.6rem;
  top: 4rem;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #eceff1;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-4kyr-mpm .accelerate-your-tech-career-in-canada-xuF .accelerate-your-tech-career-in-canada-xuF-sub-0 {
}
.android-large-3-qgD .auto-group-4kyr-mpm .accelerate-your-tech-career-in-canada-xuF .accelerate-your-tech-career-in-canada-xuF-sub-1 {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #01243e;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-4kyr-mpm .accelerate-your-tech-career-in-canada-xuF .accelerate-your-tech-career-in-canada-xuF-sub-2 {
}
.android-large-3-qgD .auto-group-4kyr-mpm .accelerate-your-tech-career-in-canada-xuF .accelerate-your-tech-career-in-canada-xuF-sub-3 {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #01243e;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-4kyr-mpm .accelerate-your-tech-career-in-canada-xuF .accelerate-your-tech-career-in-canada-xuF-sub-4 {
}
.android-large-3-qgD .auto-group-4kyr-mpm .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b {
  width: 30.5rem;
  height: 7.3rem;
  position: absolute;
  left: 1.6rem;
  top: 36.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-4kyr-mpm .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b-sub-0 {
}
.android-large-3-qgD .auto-group-4kyr-mpm .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b-sub-1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-4kyr-mpm .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b-sub-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-4kyr-mpm .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b-sub-3 {
}
.android-large-3-qgD .auto-group-4kyr-mpm .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b-sub-4 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-4kyr-mpm .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b-sub-5 {
}
.android-large-3-qgD .auto-group-4kyr-mpm .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b .exclusive-free-resume-writing-service-to-5x-your-job-hunt-F9b-sub-6 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM {
  box-sizing: border-box;
  padding: 1.5rem 1rem 2rem 1.15rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .line-2-ZLd {
  margin: 0rem 14.205rem 1.351rem 14.15rem;
  width: calc(100% - 28.3551rem);
  height: 0.1495rem;
  background-color: #08324f;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-7omb-Two {
  margin: 0rem 3.3rem 2.2rem 2.35rem;
  width: calc(100% - 5.65rem);
  height: 9.1rem;
  position: relative;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-7omb-Two .unlock-interviews-with-a-standout-resume-yQM {
  width: 24.1rem;
  height: 7.3rem;
  position: absolute;
  left: 2.5rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2102272034;
  color: #01243e;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-7omb-Two .unlock-interviews-with-a-standout-resume-yQM .unlock-interviews-with-a-standout-resume-yQM-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #01243e;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-7omb-Two .unlock-interviews-with-a-standout-resume-yQM .unlock-interviews-with-a-standout-resume-yQM-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #01243e;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-7omb-Two .why-a-great-resume-matters--dNR {
  width: 28.2rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 6.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2102272034;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-7omb-Two .why-a-great-resume-matters--dNR .why-a-great-resume-matters--dNR-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-7omb-Two .why-a-great-resume-matters--dNR .why-a-great-resume-matters--dNR-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0fa958;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-7omb-Two .why-a-great-resume-matters--dNR .why-a-great-resume-matters--dNR-sub-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-7omb-Two .why-a-great-resume-matters--dNR .why-a-great-resume-matters--dNR-sub-3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0fa958;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-7omb-Two .why-a-great-resume-matters--dNR .why-a-great-resume-matters--dNR-sub-4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-7omb-Two .why-a-great-resume-matters--dNR .why-a-great-resume-matters--dNR-sub-5 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0fa958;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-7omb-Two .why-a-great-resume-matters--dNR .why-a-great-resume-matters--dNR-sub-6 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo {
  margin: 0rem 0.3rem 2.175rem 0.15rem;
  width: calc(100% - 0.45rem);
  height: 64.3rem;
  position: relative;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .makes-a-strong-first-impression-captures-attention-and-showcases-your-potential-ats-friendly-designed-to-get-past-automated-filters-and-into-human-hands-highlights-your-skills-clearly-presents-your-experiences-and-abilities-Gbj {
  width: 29.4rem;
  height: 13.6rem;
  position: absolute;
  left: 1.65rem;
  top: 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2102272851;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .makes-a-strong-first-impression-captures-attention-and-showcases-your-potential-ats-friendly-designed-to-get-past-automated-filters-and-into-human-hands-highlights-your-skills-clearly-presents-your-experiences-and-abilities-Gbj .makes-a-strong-first-impression-captures-attention-and-showcases-your-potential-ats-friendly-designed-to-get-past-automated-filters-and-into-human-hands-highlights-your-skills-clearly-presents-your-experiences-and-abilities-Gbj-sub-0 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .makes-a-strong-first-impression-captures-attention-and-showcases-your-potential-ats-friendly-designed-to-get-past-automated-filters-and-into-human-hands-highlights-your-skills-clearly-presents-your-experiences-and-abilities-Gbj .makes-a-strong-first-impression-captures-attention-and-showcases-your-potential-ats-friendly-designed-to-get-past-automated-filters-and-into-human-hands-highlights-your-skills-clearly-presents-your-experiences-and-abilities-Gbj-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .makes-a-strong-first-impression-captures-attention-and-showcases-your-potential-ats-friendly-designed-to-get-past-automated-filters-and-into-human-hands-highlights-your-skills-clearly-presents-your-experiences-and-abilities-Gbj .makes-a-strong-first-impression-captures-attention-and-showcases-your-potential-ats-friendly-designed-to-get-past-automated-filters-and-into-human-hands-highlights-your-skills-clearly-presents-your-experiences-and-abilities-Gbj-sub-2 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .makes-a-strong-first-impression-captures-attention-and-showcases-your-potential-ats-friendly-designed-to-get-past-automated-filters-and-into-human-hands-highlights-your-skills-clearly-presents-your-experiences-and-abilities-Gbj .makes-a-strong-first-impression-captures-attention-and-showcases-your-potential-ats-friendly-designed-to-get-past-automated-filters-and-into-human-hands-highlights-your-skills-clearly-presents-your-experiences-and-abilities-Gbj-sub-3 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .makes-a-strong-first-impression-captures-attention-and-showcases-your-potential-ats-friendly-designed-to-get-past-automated-filters-and-into-human-hands-highlights-your-skills-clearly-presents-your-experiences-and-abilities-Gbj .makes-a-strong-first-impression-captures-attention-and-showcases-your-potential-ats-friendly-designed-to-get-past-automated-filters-and-into-human-hands-highlights-your-skills-clearly-presents-your-experiences-and-abilities-Gbj-sub-4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .makes-a-strong-first-impression-captures-attention-and-showcases-your-potential-ats-friendly-designed-to-get-past-automated-filters-and-into-human-hands-highlights-your-skills-clearly-presents-your-experiences-and-abilities-Gbj .makes-a-strong-first-impression-captures-attention-and-showcases-your-potential-ats-friendly-designed-to-get-past-automated-filters-and-into-human-hands-highlights-your-skills-clearly-presents-your-experiences-and-abilities-Gbj-sub-5 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .group-76-Nid {
  width: 33.4rem;
  height: 51rem;
  position: absolute;
  left: 0;
  top: 13.3rem;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .group-76-Nid .rectangle-141-hF7 {
  width: 33.4rem;
  height: 47.5rem;
  position: absolute;
  left: 0;
  top: 3.5rem;
  background-color: #21325f;
  border-radius: 1rem;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .group-76-Nid .rectangle-142-Dz9 {
  width: 33.4rem;
  height: 6.1805rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.7261rem 0.7261rem 0 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .group-76-Nid .rectangle-143-ZYD {
  width: 26.72rem;
  height: 3.4175rem;
  position: absolute;
  left: 3.34rem;
  top: 15.0488rem;
  box-shadow: 0 0.2904rem 0.2904rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5083rem;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .group-76-Nid .rectangle-144-GBj {
  width: 26.72rem;
  height: 3.4175rem;
  position: absolute;
  left: 3.34rem;
  top: 25.0831rem;
  box-shadow: 0 0.2904rem 0.2904rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5083rem;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .group-76-Nid .rectangle-145-NVf {
  width: 26.72rem;
  height: 3.4175rem;
  position: absolute;
  left: 3.2674rem;
  top: 35.2628rem;
  box-shadow: 0 0.2904rem 0.2904rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5083rem;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .group-76-Nid .group-72-gFT {
  width: 16.1191rem;
  height: 3.2066rem;
  position: absolute;
  left: 8.9309rem;
  top: 41.574rem;
  font-size: 1.4522rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.2904rem 0.2904rem rgba(0, 0, 0, 0.25);
  background-color: #0fa958;
  border-radius: 0.7261rem;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .group-76-Nid .name-KJR {
  width: 4.4rem;
  height: 1.8rem;
  position: absolute;
  left: 4.2839rem;
  top: 12.3584rem;
  font-size: 1.4522rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .group-76-Nid .email-pky {
  width: 4.6rem;
  height: 1.8rem;
  position: absolute;
  left: 4.5017rem;
  top: 22.3927rem;
  font-size: 1.4522rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .group-76-Nid .whatsapp-number-XfP {
  width: 15.1rem;
  height: 1.8rem;
  position: absolute;
  left: 4.2839rem;
  top: 32.427rem;
  font-size: 1.4522rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .group-76-Nid .fill-in-your-details-EZo {
  width: 20.7rem;
  height: 2.9rem;
  position: absolute;
  left: 3.0826rem;
  top: 6.2335rem;
  text-align: center;
  font-size: 2.3235rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-k83b-AHo .group-76-Nid .only-39-slots-left-out-of-100-wz1 {
  width: 20.5rem;
  height: 1.8rem;
  position: absolute;
  left: 6.68rem;
  top: 45.8887rem;
  font-size: 1.4522rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #d6eeff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-3-qgD .auto-group-wsxh-5gM .group-83-3GM {
  margin: 0rem 3.15rem 2.1rem 2.8rem;
  box-sizing: border-box;
  padding-top: 0.225rem;
  width: calc(100% - 5.95rem);
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .group-83-3GM .our-canada-specific-resume-writing-service-xu7 {
  max-width: 27.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2102272034;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .group-83-3GM .our-canada-specific-resume-writing-service-xu7 .our-canada-specific-resume-writing-service-xu7-sub-0 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .group-83-3GM .our-canada-specific-resume-writing-service-xu7 .our-canada-specific-resume-writing-service-xu7-sub-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0fa958;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .group-83-3GM .our-canada-specific-resume-writing-service-xu7 .our-canada-specific-resume-writing-service-xu7-sub-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .group-83-3GM .our-canada-specific-resume-writing-service-xu7 .our-canada-specific-resume-writing-service-xu7-sub-3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0fa958;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .trgrartboard-26-1-M45 {
  margin: 0rem 0.09rem 0.806rem 0rem;
  width: 21.2595rem;
  height: 15.5937rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .ats-optimized-our-resumes-are-designed-to-pass-through-ats-filters-increasing-your-chances-of-landing-an-interview-FfF {
  margin: 0rem 0.55rem 3.5rem 0rem;
  max-width: 33.3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .ats-optimized-our-resumes-are-designed-to-pass-through-ats-filters-increasing-your-chances-of-landing-an-interview-FfF .ats-optimized-our-resumes-are-designed-to-pass-through-ats-filters-increasing-your-chances-of-landing-an-interview-FfF-sub-0 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .ats-optimized-our-resumes-are-designed-to-pass-through-ats-filters-increasing-your-chances-of-landing-an-interview-FfF .ats-optimized-our-resumes-are-designed-to-pass-through-ats-filters-increasing-your-chances-of-landing-an-interview-FfF-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .yughlayout-1-521 {
  margin: 0rem 0.05rem 0.8rem 0rem;
  width: 20.5rem;
  height: 13.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .guaranteed-interview-calls-were-so-confident-in-our-service-that-we-guarantee-interview-calls-or-well-revise-your-resume-CMX {
  margin-right: 0.25rem;
  max-width: 27.8rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .guaranteed-interview-calls-were-so-confident-in-our-service-that-we-guarantee-interview-calls-or-well-revise-your-resume-CMX .guaranteed-interview-calls-were-so-confident-in-our-service-that-we-guarantee-interview-calls-or-well-revise-your-resume-CMX-sub-0 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .guaranteed-interview-calls-were-so-confident-in-our-service-that-we-guarantee-interview-calls-or-well-revise-your-resume-CMX .guaranteed-interview-calls-were-so-confident-in-our-service-that-we-guarantee-interview-calls-or-well-revise-your-resume-CMX-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-urah-3Ff {
  margin: 0rem 0rem 2.2rem 0.05rem;
  width: calc(100% - 0.05rem);
  height: 23.3rem;
  position: relative;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-urah-3Ff .fgartboard-1-1-ALH {
  width: 19.2rem;
  height: 19.2rem;
  position: absolute;
  left: 7.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-urah-3Ff .personal-branding-we-dont-just-list-your-experiences-we-craft-a-narrative-that-showcases-your-unique-professional-story-6zd {
  width: 33.8rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 17.9rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-urah-3Ff .personal-branding-we-dont-just-list-your-experiences-we-craft-a-narrative-that-showcases-your-unique-professional-story-6zd .personal-branding-we-dont-just-list-your-experiences-we-craft-a-narrative-that-showcases-your-unique-professional-story-6zd-sub-0 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .auto-group-urah-3Ff .personal-branding-we-dont-just-list-your-experiences-we-craft-a-narrative-that-showcases-your-unique-professional-story-6zd .personal-branding-we-dont-just-list-your-experiences-we-craft-a-narrative-that-showcases-your-unique-professional-story-6zd-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .frhartboard-2-1-ZFw {
  margin: 0rem 0.15rem 1.6rem 0rem;
  width: 14.6rem;
  height: 14.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .industry-insights-with-our-deep-understanding-of-the-tech-industry-we-tailor-your-resume-to-speak-to-industry-specific-trends-and-demands-5VB {
  margin: 0rem 0.15rem 2.6rem 0rem;
  max-width: 31rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .industry-insights-with-our-deep-understanding-of-the-tech-industry-we-tailor-your-resume-to-speak-to-industry-specific-trends-and-demands-5VB .industry-insights-with-our-deep-understanding-of-the-tech-industry-we-tailor-your-resume-to-speak-to-industry-specific-trends-and-demands-5VB-sub-0 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .industry-insights-with-our-deep-understanding-of-the-tech-industry-we-tailor-your-resume-to-speak-to-industry-specific-trends-and-demands-5VB .industry-insights-with-our-deep-understanding-of-the-tech-industry-we-tailor-your-resume-to-speak-to-industry-specific-trends-and-demands-5VB-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .xhkhomesa-de-trabajo-1-1-kdF {
  margin: 0rem 0.25rem 1.6rem 0rem;
  width: 20.1rem;
  height: 13.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .fast-turnaround-our-direct-communication-approach-significantly-reduces-the-time-it-takes-to-finalize-a-resume-thats-ready-to-go-dS9 {
  margin: 0rem 0.15rem 2.3rem 0rem;
  max-width: 29.7rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .fast-turnaround-our-direct-communication-approach-significantly-reduces-the-time-it-takes-to-finalize-a-resume-thats-ready-to-go-dS9 .fast-turnaround-our-direct-communication-approach-significantly-reduces-the-time-it-takes-to-finalize-a-resume-thats-ready-to-go-dS9-sub-0 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .fast-turnaround-our-direct-communication-approach-significantly-reduces-the-time-it-takes-to-finalize-a-resume-thats-ready-to-go-dS9 .fast-turnaround-our-direct-communication-approach-significantly-reduces-the-time-it-takes-to-finalize-a-resume-thats-ready-to-go-dS9-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .fehdeamesa-de-trabajo-1-1-dU5 {
  margin: 0rem 0.15rem 0.4rem 0rem;
  width: 17.6rem;
  height: 17.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .unlimited-revisions-we-work-with-you-until-youre-100-satisfied-with-your-resume-MQ5 {
  margin: 0rem 0.15rem 4.1rem 0rem;
  max-width: 33rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .unlimited-revisions-we-work-with-you-until-youre-100-satisfied-with-your-resume-MQ5 .unlimited-revisions-we-work-with-you-until-youre-100-satisfied-with-your-resume-MQ5-sub-0 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .unlimited-revisions-we-work-with-you-until-youre-100-satisfied-with-your-resume-MQ5 .unlimited-revisions-we-work-with-you-until-youre-100-satisfied-with-your-resume-MQ5-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .sfegvasset-1-1-Dah {
  margin: 0rem 0.15rem 3rem 0rem;
  width: 14.8rem;
  height: 13.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .confidentiality-assured-your-personal-and-professional-information-is-safe-with-us-jow {
  margin: 0rem 0.25rem 3.2rem 0rem;
  max-width: 28.2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-wsxh-5gM .confidentiality-assured-your-personal-and-professional-information-is-safe-with-us-jow .confidentiality-assured-your-personal-and-professional-information-is-safe-with-us-jow-sub-0 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .confidentiality-assured-your-personal-and-professional-information-is-safe-with-us-jow .confidentiality-assured-your-personal-and-professional-information-is-safe-with-us-jow-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #08324f;
  font-family: Poppins, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-wsxh-5gM .heres-how-it-works-Dcd {
  margin-right: 0.15rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #243254;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 {
  width: 80rem;
  height: 83.8089rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B {
  margin-right: 6.7rem;
  width: 36.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .rectangle-157-n3T {
  width: 36.1rem;
  height: 22.3rem;
  position: absolute;
  left: 0;
  top: 61.5rem;
  background-color: #01243e;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu {
  width: 30.5rem;
  height: 26.2rem;
  position: absolute;
  left: 2.5rem;
  top: 4.1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2102272511;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu-sub-0 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu-sub-2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu-sub-3 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu-sub-4 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu-sub-5 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu-sub-6 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu-sub-7 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu-sub-8 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu-sub-9 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu-sub-10 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu .submit-your-details-provide-your-name-whatsapp-number-and-upload-your-current-resume-in-the-fields-below-group-addition-within-24-hours-of-submission-you-will-be-added-to-a-whatsapp-group-with-our-resume-writer-information-collection-our-resume-writer-team-will-share-a-google-doc-for-you-to-input-additional-details-receive-your-new-resume-after-updating-the-provided-doc-our-team-will-share-your-revamped-resume-within-48-hours-video-testimonial-if-youre-pleased-with-the-result-we-kindly-request-a-video-testimonial-once-shared-youll-get-your-revamped-resume-no-stringsattached-iSu-sub-11 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #08324f;
  font-family: Inter, 'Source Sans Pro';
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .line-3-Wss {
  width: 5.495rem;
  height: 0.276rem;
  position: absolute;
  left: 15.3rem;
  top: 40.3rem;
  background-color: #08324f;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-74-rRw {
  box-sizing: border-box;
  padding: 0rem 0.397rem 0rem 0.397rem;
  width: 35rem;
  height: 13.0515rem;
  position: absolute;
  left: 0.5rem;
  top: 45.3rem;
  display: flex;
  align-items: center;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-74-rRw .material-symbols-arrow-back-ios-new-8uF {
  margin: 0rem 0.515rem 0.076rem 0rem;
  width: 0.7794rem;
  height: 1.3145rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-74-rRw .rectangle-147-3WR {
  margin-right: 1.7679rem;
  width: 9.3521rem;
  height: 13.0515rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-74-rRw .rectangle-148-Aqw {
  margin-right: 1.768rem;
  width: 9.3521rem;
  height: 13.0515rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-74-rRw .rectangle-149-Weu {
  margin-right: 0.5401rem;
  width: 9.3521rem;
  height: 13.0515rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-74-rRw .material-symbols-arrow-back-ios-new-dUd {
  margin-bottom: 0.0764rem;
  width: 0.7794rem;
  height: 1.3145rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .success-stories-YLh {
  width: 18.7rem;
  height: 2.5rem;
  position: absolute;
  left: 8.7rem;
  top: 41.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #243254;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .college-name-Sgy {
  width: 6.5rem;
  height: 1rem;
  position: absolute;
  left: 3.3609rem;
  top: 58.7743rem;
  text-align: center;
  font-size: 0.8199rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #243254;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .college-name-LXT {
  width: 6.5rem;
  height: 1rem;
  position: absolute;
  left: 14.7372rem;
  top: 58.7743rem;
  text-align: center;
  font-size: 0.8199rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #243254;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .college-name-rEu {
  width: 6.5rem;
  height: 1rem;
  position: absolute;
  left: 25.8572rem;
  top: 58.7743rem;
  text-align: center;
  font-size: 0.8199rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #243254;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 {
  width: 36.098rem;
  height: 83.8089rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 .rectangle-155-6uw {
  margin: 0rem 0.098rem 25.782rem 0rem;
  width: 36rem;
  height: 37.618rem;
  box-shadow: 0 0.4045rem 0.4045rem rgba(0, 0, 0, 0.25);
  background-color: rgba(63, 116, 154, 0.0900000036);
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 .group-88-CCH {
  margin: 0rem 2.098rem 0.2rem 2.3rem;
  width: calc(100% - 4.3973rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 .group-88-CCH .line-4-7q3 {
  margin: 0rem 0.2rem 0.15rem 0rem;
  width: 11.2004rem;
  height: 0.05rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 .group-88-CCH .meet-the-team-Rqj {
  margin-right: 0.3rem;
  font-size: 1.0614rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 .group-88-CCH .line-5-jrR {
  margin-bottom: 0.05rem;
  width: 11.2005rem;
  height: 0.05rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 .auto-group-wea5-G5f {
  margin-left: 0.1rem;
  width: 36rem;
  height: 18.9089rem;
  position: relative;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 .auto-group-wea5-G5f .rectangle-70-BTX {
  width: 35.998rem;
  height: 1.2999rem;
  position: absolute;
  left: 0;
  top: 17.609rem;
  background-color: #02243f;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 .auto-group-wea5-G5f .copyright-7c5 {
  width: 10.3rem;
  height: 0.5rem;
  position: absolute;
  left: 11.9493rem;
  top: 18.009rem;
  font-size: 0.375rem;
  font-weight: 400;
  line-height: 1.3333334181;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 .auto-group-wea5-G5f .rectangle-156-Dv1 {
  width: 36rem;
  height: 4.975rem;
  position: absolute;
  left: 0;
  top: 12.785rem;
  background: linear-gradient(275.97deg, #08324f 99.49%, #82d2f5 206.06%);
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 .auto-group-wea5-G5f .connect-with-us--wLD {
  width: 8.4rem;
  height: 1rem;
  position: absolute;
  left: 8.6977rem;
  top: 14.6989rem;
  font-size: 0.8244rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 .auto-group-wea5-G5f .group-87-diq {
  width: 4.9441rem;
  height: 1.2705rem;
  position: absolute;
  left: 18.3rem;
  top: 14.3946rem;
  object-fit: contain;
  vertical-align: top;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 .auto-group-wea5-G5f .skill-icons-linkedin-xFK {
  width: 1.5118rem;
  height: 1.5118rem;
  position: absolute;
  left: 24.3882rem;
  top: 14.409rem;
  object-fit: contain;
  vertical-align: top;
}
.android-large-3-qgD .auto-group-aubf-vG9 .auto-group-tjko-T1B .group-73-NU9 .auto-group-wea5-G5f .untitled-design-1-st5 {
  width: 25.6rem;
  height: 12.8rem;
  position: absolute;
  left: 5.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.android-large-3-qgD .auto-group-aubf-vG9 .group-77-C9f {
  margin: 0rem 5.6rem 6.574rem 0rem;
  width: 24.2rem;
  height: 6.2187rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.android-large-3-qgD .auto-group-aubf-vG9 .skill-icons-linkedin-7XX {
  margin-bottom: 20.5089rem;
  width: 7.4rem;
  height: 7.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
